@import './component.scss';
@import "./screen";
@import "./reset";
@import "./fonts";
@import "./basic";
@import "./anim";
@import "./utility";
@import "./color";

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

